body
  font-family 'Open Sans', sans-serif
  font-size 1em
  padding 20%

h1, h2, h3, h4
  font-family 'Source Sans Pro', sans-serif

h1
  font-size 2.5em

a, a:visited, .red
  color #ff5252

a
  text-decoration none
  padding-bottom 2px
  border-bottom 1px

p
  line-height 23px

pre, code
  font-family 'Source Code Pro', monospace
  font-size 1em
  overflow auto

pre
  position relative
  padding 10px
  background-color #fafafa

