$red = #ff5252
$gray = #333
$lightgray = rgba(0,0,0,0.14)

body
  font-family 'Open Sans', sans-serif
  font-size 1em
  padding 20%

section
  padding-top 50px

h1, h2, h3, h4
  font-family 'Source Sans Pro', sans-serif

h1
  font-size 2em
  vertical-align bottom
  margin-left 20px
  display inline
  text-transform uppercase
  line-height 1.6em

h2
  border 2px solid $red
  padding 4px 8px 5px 8px
  display inline-block
  text-transform uppercase
  letter-spacing .05em
  font-size 1em
  margin-top 100px

a, a:visited, .red
  color $red

a
  text-decoration none
  padding-bottom 2px
  border-bottom 1px
  outline none

p
  line-height 23px

pre, code
  font-family 'Source Code Pro', monospace
  font-size 1em
  overflow auto

pre
  position relative
  padding 10px
  background-color #fafafa
  border-bottom 1px solid #d5d5d5
  &.warn
    border-bottom 1px solid red

.hamburger
  opacity 1
  transition all .4s
  position absolute
  top 20px
  right 20px
  width 30px
  height 24px
  border-top 1px solid $gray
  border-bottom 1px solid $gray
  z-index 20
  .inner
    height 12px
    border-bottom 1px solid $gray

nav
  opacity 0
  z-index 10
  position fixed
  top 0
  left 0
  right 0
  height 60px
  background white
  border-bottom 1px solid $lightgray
  box-shadow 0px 2px 3px $lightgray

  em
    font-style normal
    display inline-block
    margin 16px 20px
    font-size 21px
    text-transform uppercase
    font-family 'Source Sans Pro', sans-serif

  ul
    display inline-block
    float right
    margin-right 10px
    list-style none
    li
      float left

  a, a:visited
    transition all .4s
    color $gray
    font-size 12px
    text-transform uppercase
    margin 14px
    text-decoration none
    border 1px solid transparent
    letter-spacing .03em
    padding 4px

    &:hover, &.active
      color $red

    &.active
      border 1px solid
      padding 4px

@media screen and (max-width: 900px)
  nav
    display none

